* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  /* width: 100%;
  height: 100%; */
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
}

.card {
  height: 40rem;
  width: 25rem;
}

.img-container {
  /* overflow: hidden; */
}

.img-container img {
  width: 100%;
}
